{% extends 'ATMArticleBundle:Common:base.html.twig' %}

{% block atm_article_content %}
    <div class="menu">
        <ul>
            <li><a href="{{ path('atm_article_index') }}" style="margin-bottom:30px;display: inline-block;">Go To Index</a></li>
            <li><a href="{{ path('atm_article_create_category') }}" style="margin-bottom:30px;display: inline-block;">Create Category</a></li>
        </ul>
    </div>
    <table>
        {% for category in categories %}
            <tr>
                <td>
                    {{ category.name }}
                </td>
                <td>
                    <a href="{{ path('atm_article_edit_category',{ 'categoryId': category.id }) }}" title="Edit"><i class="fa fa-edit"></i></a>
                    <a href="{{ path('atm_article_delete_category',{ 'categoryId': category.id }) }}" title="Delete"><i class="fa fa-times-circle-o"></i></a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock atm_article_content %}