{% extends 'ATMArticleBundle:Common:base.html.twig' %}

{% block atm_article_content %}
    <div class="menu">
        <ul>
            <li><a href="{{ path('atm_article_index') }}" style="margin-bottom:30px;display: inline-block;">Go To Index</a></li>
            <li><a href="{{ path('atm_article_create_category') }}" style="margin-bottom:30px;display: inline-block;">Create Category</a></li>
        </ul>
    </div>
    <div class="clear"></div>
    <div class="errors">
        {% for error in errors %}
            {{ error }}
        {% endfor %}
    </div>
    <form action="{{ path('atm_article_edit_category',{ 'categoryId': category.id }) }}" method="post">
        {{ form_widget(form.name) }}
        {{ form_rest(form) }}

        <input type="submit" class="but blue" value="save">
    </form>
{% endblock atm_article_content %}