<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block atm_competition_title %}ATM Article Bundle{% endblock atm_competition_title %}</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="Distribution" content="Global" />
        <meta name="Rating" content="Mature" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ asset('bundles/atmarticle/css/css.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/atmarticle/css/font-awesome/css/font-awesome.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/atmarticle/fonts/lato.css') }}" type="text/css"/>
        <link rel="stylesheet" href="{{ asset('bundles/atmarticle/fonts/quicksand.css') }}" type="text/css"/>
        <link rel="stylesheet" href="{{ asset('bundles/atmarticle/fonts/leaguespartan.css') }}" type="text/css"/>
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
        {% block atm_article_stylesheets %}{% endblock atm_article_stylesheets %}
        {% block atm_article_jquery %}
            <script src="{{ asset('bundles/atmarticle/js/jquery-3.4.1.min.js') }}"></script>
        {% endblock atm_article_jquery %}
    </head>
    <body class="atm_article">
        <div class="inner body">
            {% block atm_article_content %}{% endblock atm_article_content %}
        </div>
        {% block atm_article_javascripts %}
        {% endblock atm_article_javascripts %}
    </body>
</html>